body {
    background-color: #232323;
    margin: 0;
    font-family: 'Aldrich', sans-serif;


}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background .4s;
    --webkit-transition: background .4s;
    --moz-transition: background .4s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
    
}

h1 {
    color: aliceblue;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0px;

    
}

#colorDisplay {
    font-size: 150%;
}

#message {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding-top: 6px;
}


#stripe {
    background-color: white;
    height: 25px;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    
    
}

.selected {
    color: white;
    background: steelblue;
}


button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 100;
    color: steelblue;
    letter-spacing: 1px;
    font-family: 'Aldrich', sans-serif;
    outline: none;
    transition: all .4s;
    
}


button:hover {
    color: white;
    background: steelblue;
}